<link rel="icon" type="image/png" href="/static/images/icons/sutd-logo-png-1.png"/>
<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block content %}
    {{form.csrf_token}}
    <form action="" method="POST">
        <div class="login">
        <div class="login-screen">
        <div class="app-title">
        <h1>Login</h1>
        </div>
        <div class="login-form">
        <div class="control-group">   
        <p>
            {{form.username.label}}<br>
            <input type="text" class="login-field" value="" placeholder="username" name="username">
        </p>
        <p>
            {{ form.password.label }}
            <input type="password" class="login-field" value="" placeholder="password" name="password">
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p><input type=submit value="Sign In"></p>
    </form>
{% endblock %}